
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
    <a href="/photos/new" class="btn btn-default btn-block btn-success"><i class="fa fa-plus" aria-hidden="true"></i> New Photo</a>
</div></div></div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

      <% @photos.each do |photo| %>

      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><a href="/users/<%= photo.user.id %>"><%= photo.user.username %></a> <small><%= time_ago_in_words(photo.created_at) %> ago</small></h3></div>
        <div class="panel-body">
          <img src="<%= photo.image %>" style="max-width: 100%;"/><br/>


<% if photo.likes.ids.include?(current_user.id) == false %>

          <form action="/create_like" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <div class="form-group">
              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
            </div>

            <div class="form-group">
            <input type="text" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id %>">
            </div>

            <button class="btn btn-success">
              <i class="fa fa-heart-o" aria-hidden="true"> Like</i>
            </button>
          </form>

  <% else %>

  <button class="btn btn-success">
    <a href="delete_like/"><i class="fa fa-heart" aria-hidden="true"></i></a>
  </button>
<%= photo.likes.find_by( :user_id => current_user.id) %>


  <% end %>


        </div>
        <div class="panel-footer">
          <% if photo.user_id == current_user.id %>

                    <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
                    <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
                    <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>

                    <% else %>

                <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>

                <% end %>
        </div>
      </div>

      <% end %>
    </table>
  </div>
</div>
